.tree-container {
    list-style-type: none;
    padding-left: 0
}

.treeNode-parent {
    cursor: pointer;
    display: flex;
    padding: 5px
}

.treeNode-arrow {
    padding-right: 8px;
    padding-top: 2px
}

.treeNode-label:hover {
    font-size: large;
    font-weight: bold;
}

.activeCaret {
    transform: rotate(180deg);
}

.activeLabel {
    font-weight: bold;
}

.treeNode-children {
    margin-left: 20px;
}

.treeNode-label-container {
    position: relative;
}

.treeNode-badge {
    background-color: #FF0000;
    color: #fff;
    width: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 12px;
    left: 101%;
}